<div class="jumbotron center">
	<h1>About</h1>
	<p>We are woring on our one month rails app. I hope to turn this app framework into a evaluation tool application that will let teams build out how they evaluate and score candidates</p>
	<blockquote>
  		<p>It'd be great to have all our evaluations in one place</p>
</blockquote>
</div>
